body {
    margin-left: 0 16px;
}

.customization-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    width: 100%;
}

.card {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    height: 500px;
    background-size: contain;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-title {
    margin: 12px 0;
    font-size: 24px;
}